{% extends 'shop/basic.html' %}

{% block title%} Query output{% endblock %}

{% block body %}
{% load static %}
<h1 class="text-center mt-4">Query Output:</h1>
<h2 class="text-center mt-4 mb-4">all categories of the store with their total profits</h2>
<table class="table table-bordered table-striped  text-center  mt-3 mb-3 ">
    <tr>
        <th>Category Name</th>
        <th>Profit</th>
    </tr>
{% for a in categories %}
<tr>
    {% for b in a %}
    <td>{{b}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}